Source: stsbl-iserv3-internet
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9), iserv3-dev
Standards-Version: 3.9.5

Package: stsbl-iserv3-internet
Architecture: all
Depends: iserv-internet, iserv3-host
Description: IServ 3: Internetfreigabe
 Dieses Paket enthält die Oberfläche zur Eingabe und Verwaltung von NACs in IServ 3.
Tag: suite::iserv:portal, role::plugin
